<StackLayout>
    <GridLayout rows="auto" columns="auto,*,auto" class="action-bar p-10">
        <Button text='X' (tap)="close()" row="0" col="0" class="action-item">
                </Button>
    </GridLayout>
    <StackLayout>
        <GridLayout tkExampleTitle tkToggleNavButton>
            <RadListView [items]="items">
                <ng-template tkListItemTemplate>
                    <GridLayout class="listItemTemplateGrid">

                        <GridLayout verticalAlignment="bottom">
                            <StackLayout class="labelsStackLayout">
                                <Image src="https://www.worldatlas.com/r/w728-h425-c728x425/upload/12/f8/83/coffee-cup.jpg" style="opacity: 1;" width="200" height="200"></Image>
                                <Label text="Customize" class="h2 bold m-t-5" horizontalAlignment="left"></Label>

                                <Label text="You can now customize your coffee according to your needs.." class="h6  m-2" horizontalAlignment="left"></Label>
                                <Label text="Choices Checkboxes" class="h2 m-t-15" horizontalAlignment="left"></Label>
                                
                                <StackLayout orientation="horizontal" class="p-10" *ngFor="let checkboxes of options">
                                    <GridLayout rows="* * *" cols="* * *" (tap)="addTotal(checkboxes.data().price, checkboxes.data().addon)">
                                    <CheckBox  #reactiveCheck ngDefaultControl [(ngModel)]="testChecking[checkboxes.data().addon]"  row="0" col="0" ></CheckBox>
                                    <Label #reactiveCheck [text]="checkboxes.data().addon" class="h3 m-l-25" row="0" col="1"  ></Label>
                                    <Label text="AED" class="h3 pull-right m-r-10" row="0" col="2"></Label>
                                    <Label [text]="checkboxes.data().price" class="h3 pull-right m-l-15" row="0" col="2"></Label>
                                    </GridLayout>
                                </StackLayout>
                                <Label text="Choose Radios" class="h2 m-t-15" horizontalAlignment="left"></Label>
                                <StackLayout class="p-10" *ngFor="let option of radioOptions">
                                    <StackLayout class="form-group" [formGroup]="formGroup" orientation="horizontal" verticalAlignment="center">
                                        <CheckBox #elem [checked]="option.selected" (checkedChange)="elem.checked !== option.selected && changeCheckedRadio(option)" class="checkbox" boxType="circle"></CheckBox>
                                        <StackLayout verticalAlignment="center">
                                            <Label [text]="option.text"  textWrap="true" (tap)="changeCheckedRadio(option)"></Label>
                                        </StackLayout>
                                    </StackLayout>
                                </StackLayout>
                            </StackLayout>
                        </GridLayout>
                    </GridLayout>
                </ng-template>

                <!-- >> angular-listview-item-animations-html -->
                <ListViewLinearLayout tkListViewLayout scrollDirection="Vertical" itemInsertAnimation="Default" itemDeleteAnimation="Default"></ListViewLinearLayout>
                <!-- << angular-listview-item-animations-html -->

              
            </RadListView>
            
            <FAB row="1" col="1" (tap)="submit()" icon="~/images/store.png" rippleColor="#f1f1f1" class="fab-button" text="1234"></FAB>
        </GridLayout>

    </StackLayout>
    

</StackLayout>