/*
In NativeScript, the app.css file is where you place CSS rules that
you would like to apply to your entire application. Check out
http://docs.nativescript.org/ui/styling for a full list of the CSS
selectors and properties you can use to style UI components.

/*
In many cases you may want to use the NativeScript core theme instead
of writing your own CSS rules. For a full list of class names in the theme
refer to http://docs.nativescript.org/ui/theme.
*/
@import '~nativescript-theme-core/css/core.light.css';

.list-group .list-group-item {
    padding: 0 0 8 0;
    background-color: rgba(2, 39, 52, 0.1);
  }
  .list-group .list-group-item .list-group-item-content {
    padding: 8 15 4 15;
    background-color: #FFFFFF;
  }
  .list-group .list-group-item .fa {
    color: #3A53FF;
  }


RadListView {
  margin-right: -2;
}

.listItemTemplateGrid {
  background-color: white;
  margin-bottom: 2;
  margin-right: 2;
}

.labelsStackLayout {
  background-color: rgb(255, 255, 255, 0.7);
  padding-top: 8;
  padding-bottom: 8;
  padding-left: 16;
  padding-right: 16;
}

.font-awesome {
  font-family: 'FontAwesome', fontawesome-webfont;
}

.switch {
  width: 35px;
  height: 20px;
  background: #dadada;
}
.switch small {
  border-radius: 100%;
  width: 20px;
  height: 20px;
}
.switch.checked small {
  left: 15px;
}
.switch:focus {
  outline: none;
}
